
html {
    background-color: rgb(42, 43, 64);
    font-family: Helvetica, Verdana, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px #ababab;
    color: azure;
}

.senalador {
    font-weight: bold;
}

h1 {
    font-size: 30px;
    font-family: verdana;
    font-weight: 600;
    margin-block-start: 25px;
    margin-left: 65px;
    margin-block-end: 5px;
}

.horas, .minutos, .segundos {
    border: azure;
    border-radius: 4px;
    text-align-last: center; 
    padding: 1rem;
    width: 180px;
}

.aquella {
    border: none;
    border-radius: 4px;
    text-align-last: center; 
    background: none;
    padding: 1rem;
    color: rgb(255, 0, 0);
    font-family: Verdana;
    font-weight: bold;
    width: 180px;
}

.titulo-tiempo, .esta {
    color: rgb(42, 43, 64);
    font-weight: bold;
    text-shadow: 0px 0px 0px rgb(42, 43, 64);
    background:rgb(42, 43, 64);
}

#tiempo-video{
    color: white;
    text-shadow: 0px 0px 0px ;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

#procesar {
    margin-left: 330px;
    padding: 1em;
    background: transparent;
    border-radius: 10px;
    border-bottom-color: darkgray;
    border-top-color: aliceblue;
    border-left-color: aliceblue;
    border-right-color: darkgray;
    color: aliceblue;
    font-family: monospace;
    width: 100px;
    font-size: 16px;
    text-align-last: center;
}
